body{
  background-image: radial-gradient(#e5f4ff, #1f217a);
}

.wrapper{
  background-color: : #eaece5;
}

h3{
  font-family: "Verdana";
}

.container{
  background-image: linear-gradient(#dfdbff, #d3ffe6, #ddfff6, #d3f4ff, #cceeff, #dfdbff);
  width: 75%;
  min-height: 75%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
}
#quizbox {
  margin: auto;
  padding: 20px;
  width: 50%;
  /* height: 60%; */
  background-color: #dfdbff;

  border-radius: 8px;
}

#quizResult {
  color:#350e66;
  font-size: 24px;
}

#startButton, #submitButton{
  margin-top: 15px;
  padding: 10px;
}

.title{
  color:#350e66;
  padding-top: 15px;
  font-family: "Verdana";
  text-align: center;
  font-size: 40px;
}

.quizText{
  font-family: "Verdana";
}

button {
  margin: 7px;
  padding: 5px;
  min-width: 30px;
  background-color:#3eb9d8;
  border-color: #484f4f;
  color: white;
  border-radius: 8px;
  width: 50%;
  font: 12px "Verdana";
}

.backButton {
position: absolute;
transition: .5s ease;
top: 87%;
left: 35%;
width: 30%
}

/* TODO: How to align answer options on the left? */
.answers{
  align-items: left;
}
