/*--------body--------*/
body {
    margin: 0px;
    top: 40%;
    height: 80%;
    background-image: radial-gradient(#e5f4ff, #1f217a);
}

.main {
  background-image: linear-gradient(#dfdbff, #d3ffe6, #ddfff6, #d3f4ff, #cceeff, #dfdbff);
  width: 75%;
  min-height: 80%;
  margin: auto;
  margin-top: 177px;
  text-align: center;
  align-items: center;
  padding: 50px;
  padding-bottom: 80px;
}

.backButton {
position: absolute;
transition: .5s ease;
top: 87%;
left: 19%;
right:24%;
width: 60%;
height: 4%;
background-color: #3eb9d8;
}


/*----------------Structuring Grid--------------*/
.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    justify-content: center;
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}
.grid-container > div  {
    padding: 0px;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    border: 1px solid black;

}
.grid-item-8 {
    grid-area: 2 / 1 / 2 / 4;
    margin: 0;
    padding: 0;
}

.grid-item-9 {
    grid-area: 2 / 4 / 2 / 8;
    margin: 0;
    padding: 0;
}

.week{
  background-color:#e2e0ff;
}
/*-----------Form Styling-----------------------*/
input, select {
width: auto;
padding: 12px 20px;
margin: 8px 0;
display:inline-block;
margin-top: 23px;
background-color: #91e8ff;
}

input[type=text] {
width: 100px;
padding: 12px 20px;
margin: 8px 0;
}

/*-----------Navigation Styling-----------*/
.topHead {
height: auto;
overflow: hidden;
color: #350e66;
text-align: center;
}

h4 {
width: 100%;
margin: 0;
color:#350e66;
}
